/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800] is where our normal styles applies
1800px and plus: Big desktop;
*/
/*
$breakpoint argument choices:
- phone
- tab-port // tablet portrait
- tab-land // tablet landscape
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
/* universal selector to reset browsers default settings */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire documen */
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box; }

.navbar {
  display: flex;
  position: fixed;
  font-family: "Roboto", sans-serif;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  height: 4.9rem;
  justify-content: center;
  width: 100%; }
  .navbar-left-container {
    display: flex;
    list-style: none;
    margin-right: 48rem;
    align-items: center; }
    @media (max-width: 75em) {
      .navbar-left-container {
        margin-left: 8rem; } }
    @media (max-width: 51em) {
      .navbar-left-container {
        margin: 0 15rem; } }
  .navbar-right-container {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 15rem; }
    @media (max-width: 75em) {
      .navbar-right-container {
        margin-left: 0rem; } }
    @media (max-width: 51em) {
      .navbar-right-container {
        margin: 0 18rem; } }
  .navbar a {
    text-decoration: none; }
  .navbar-font-1 {
    color: #000;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500; }
    @media (max-width: 75em) {
      .navbar-font-1 {
        display: none; } }
  .navbar-font-2 {
    flex-shrink: 0;
    color: #000;
    font-family: Limerick, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border-left: 1px solid #d7d7d9;
    margin-right: 2rem;
    padding-left: .7rem;
    padding-right: 1rem; }
    @media (max-width: 75em) {
      .navbar-font-2 {
        padding-left: .5rem;
        padding-right: 0rem;
        margin-right: 1rem; } }
    @media (max-width: 51em) {
      .navbar-font-2 {
        display: none; } }
  .navbar-font-3 {
    color: #ee0077;
    font-family: Poppins, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: .9rem;
    line-height: 2.4rem; }
    @media (max-width: 51em) {
      .navbar-font-3 {
        font-size: 1.2rem; } }
  .navbar-hamburger-logo {
    height: 1.5rem;
    padding: 0;
    margin: .3rem 0; }
  .navbar-hamburger-logo-link {
    padding-right: .8rem;
    margin-left: .5rem; }
    @media (max-width: 75em) {
      .navbar-hamburger-logo-link {
        margin: 0 0 0 4rem; } }
  .navbar-brand-logo-link {
    padding: 0;
    margin: 1rem 1.7rem; }
    @media (max-width: 75em) {
      .navbar-brand-logo-link {
        margin: 0 0 0 .5rem; } }
  .navbar-brand-logo-img {
    padding: 0;
    height: 3rem; }
  .navbar__search-icon {
    height: 1.2rem;
    margin-right: 2.5rem; }
    @media (max-width: 51em) {
      .navbar__search-icon {
        display: none; } }
  .navbar__vertical-line {
    border-left: 1px solid #d7d7d9;
    height: 4.8rem;
    padding-left: 1rem; }
    @media (max-width: 75em) {
      .navbar__vertical-line {
        padding-left: .5rem;
        height: 2rem; } }
    @media (max-width: 51em) {
      .navbar__vertical-line {
        display: none; } }
  .navbar .glyphicon {
    font-size: .7rem;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.65); }

.headline-container {
  margin-top: 6.8rem; }

.headline-top-links {
  display: flex;
  font-family: Lora, serif;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  text-transform: uppercase;
  color: #239ad2;
  margin: .5rem 0; }
  .headline-top-links li:first-child {
    margin: 0 2rem;
    list-style: none; }

.headline-home-link, .headline-parents-link {
  color: black; }
  .headline-home-link:hover, .headline-parents-link:hover {
    text-decoration: none;
    color: purple; }

.headline__heading {
  font-family: Basel, serif;
  font-weight: 100;
  line-height: 4.5rem;
  font-size: 4rem;
  margin: .67rem 0;
  text-align: center;
  width: 100%; }
  @media (max-width: 37.5em) {
    .headline__heading {
      font-size: 2.4rem;
      line-height: 2.7rem; } }

.headline__social-media {
  display: flex;
  justify-content: center;
  margin: 1rem 0; }

.headline__social-media--icons {
  height: 2.6rem; }

.headline__social-media-links {
  width: 3.1rem; }

.container {
  width: 35%;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .container {
      width: 90%; } }

p {
  font-family: Lora, serif;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem; }
  @media (max-width: 75em) {
    p {
      font-size: 2rem;
      line-height: 2.7rem; } }
  @media (max-width: 51em) {
    p {
      font-size: 2.5rem;
      line-height: 3.2rem; } }
  @media (max-width: 37.5em) {
    p {
      font-size: 1.7rem;
      line-height: 2.3rem; } }

.img-responsive {
  width: 100%; }

.img-desc {
  font-size: 1rem;
  margin: .2rem 1rem;
  padding: 0;
  color: #A3A5A9; }
  .img-desc--author {
    margin-left: 1.5rem; }
