/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800] is where our normal styles applies
1800px and plus: Big desktop;
*/
/*
$breakpoint argument choices:
- phone
- tab-port // tablet portrait
- tab-land // tablet landscape
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
/* universal selector to reset browsers default settings */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire documen */
  box-sizing: inherit; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box; }

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  justify-content: center;
  width: 100%; }
  .navbar-left-container {
    display: flex;
    list-style: none;
    margin-right: 400px;
    align-items: center; }
    @media (max-width: 1200px) {
      .navbar-left-container {
        margin-left: 8rem; } }
    @media (max-width: 1024px) {
      .navbar-left-container {
        margin: .4rem 10.5rem; } }
    @media (max-width: 600px) {
      .navbar-left-container {
        margin-right: 24rem; } }
  .navbar-right-container {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 12rem; }
    @media (max-width: 1200px) {
      .navbar-right-container {
        margin-left: 0rem; } }
    @media (max-width: 1024px) {
      .navbar-right-container {
        margin: 0 14.5rem; } }
    @media (max-width: 600px) {
      .navbar-right-container {
        display: none; } }
  .navbar a {
    text-decoration: none; }
  .navbar-font-1 {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; }
    @media (max-width: 1200px) {
      .navbar-font-1 {
        display: none; } }
  .navbar-font-2 {
    flex-shrink: 0;
    color: #000;
    font-family: "Limerick", sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    border-left: 1px solid #d7d7d9;
    padding-left: .7rem;
    padding-right: 1rem; }
    @media (max-width: 1200px) {
      .navbar-font-2 {
        padding-left: .5rem;
        padding-right: 0rem;
        margin-right: 1rem; } }
    @media (max-width: 1024px) {
      .navbar-font-2 {
        display: none; } }
  .navbar-font-3 {
    color: #ee0077;
    font-family: Poppins, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px; }
    @media (max-width: 1024px) {
      .navbar-font-3 {
        font-size: 12px; } }
  .navbar-hamburger-logo {
    height: 17px;
    padding: 0; }
  .navbar-hamburger-logo-link {
    padding-right: 9px;
    margin-left: 2rem; }
    @media (max-width: 1200px) {
      .navbar-hamburger-logo-link {
        margin: 0 0 0 4rem; } }
  .navbar-brand-logo-link {
    padding: 0;
    margin: 0 1rem;
    margin-top: 6px; }
    @media (max-width: 1200px) {
      .navbar-brand-logo-link {
        margin-top: .3rem; } }
    @media (max-width: 600px) {
      .navbar-brand-logo-link {
        margin-left: 10px; } }
  .navbar-brand-logo-img {
    padding: 0;
    height: 35px; }
  .navbar__search-icon {
    height: 16px;
    margin-right: 1.6rem; }
    @media (max-width: 1024px) {
      .navbar__search-icon {
        display: none; } }
  .navbar__vertical-line {
    border-left: 1px solid #d7d7d9;
    height: 59px;
    padding-left: 1rem; }
    @media (max-width: 1200px) {
      .navbar__vertical-line {
        padding-left: .5rem;
        height: 2rem; } }
    @media (max-width: 1024px) {
      .navbar__vertical-line {
        display: none; } }
  .navbar .glyphicon {
    font-size: .7rem;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.65); }

.headline-container {
  margin-top: 4rem; }

.headline-container-photo {
  width: 100%; }
  .headline-container-photo--img {
    width: 100%; }

.headline-top-links {
  display: flex;
  font-family: Lora, serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
  color: #239ad2; }
  .headline-top-links li:first-child {
    margin: 0 24px;
    list-style: none; }

.headline-home-link, .headline-parents-link {
  color: black; }
  .headline-home-link:hover, .headline-parents-link:hover {
    text-decoration: none;
    color: purple;
    cursor: default; }

.headline__heading {
  font-family: Basel, serif;
  font-weight: 400;
  line-height: 52px;
  font-size: 48px;
  margin: .67rem 0;
  text-align: center;
  width: 100%; }
  @media (max-width: 600px) {
    .headline__heading {
      font-size: 36px;
      line-height: 40px; } }

.headline__social-media {
  display: flex;
  justify-content: center;
  margin: 1rem 0; }

.headline__social-media--icons {
  height: 1.8rem; }

.headline__social-media-links {
  width: 2.1rem; }

.main-content {
  margin: 0 auto;
  max-width: 650px; }
  .main-content h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.95); }
    @media (max-width: 600px) {
      .main-content h2 {
        text-align: center;
        font-size: 18px;
        line-height: 28px; } }
  .main-content p {
    font-family: Lora, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.95); }
    @media (max-width: 1200px) {
      .main-content p {
        font-size: 18px;
        line-height: 28px; } }
    @media (max-width: 1024px) {
      .main-content p {
        font-size: 18px;
        line-height: 28px; } }
    @media (max-width: 600px) {
      .main-content p {
        font-size: 16px;
        line-height: 28px; } }

.container {
  width: 60%;
  margin: 0 auto; }
  @media (min-width: 1800px) {
    .container {
      width: 45%; } }
  @media (max-width: 1200px) {
    .container {
      width: 80%; } }
  @media (max-width: 1024px) {
    .container {
      width: 90%; } }
  @media (max-width: 600px) {
    .container {
      width: 95%; } }

.figure-container {
  max-width: 650px;
  margin: 0 auto; }
  .figure-container .img-responsive {
    width: 100%; }
  .figure-container .img-desc {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 15px;
    padding: 0;
    color: #A3A5A9; }
    .figure-container .img-desc--author {
      margin-left: 1.5rem; }

.footer {
  font-family: "Limerick", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #FAF7FA;
  margin-bottom: 10rem;
  height: 28rem;
  border-top: 1px solid #d7d7d9;
  border-bottom: 1px solid #d7d7d9; }
  @media (max-width: 600px) {
    .footer {
      height: 55rem; } }
  .footer h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500; }
    @media (max-width: 600px) {
      .footer h2 {
        font-size: 20px;
        line-height: 28px; } }
  .footer-logo {
    padding: 2rem 0; }
  .footer-logo-img {
    display: block;
    margin: 0 auto;
    height: 60px; }
  .footer-inner-container {
    display: flex;
    justify-content: center; }
    @media (max-width: 600px) {
      .footer-inner-container {
        flex-direction: column;
        align-items: center; } }
  .footer-inner-container-left {
    text-align: center;
    padding-right: 2rem; }
    @media (max-width: 600px) {
      .footer-inner-container-left {
        align-items: center;
        width: 100%; } }
    @media (max-width: 1024px) {
      .footer-inner-container-left h2 {
        margin-left: 1rem; } }
    @media (max-width: 600px) {
      .footer-inner-container-left h2 {
        margin-left: 3rem; } }
  .footer-inner-container--ad {
    height: 270px;
    margin-top: 1rem; }
    @media (max-width: 1200px) {
      .footer-inner-container--ad {
        height: 245px; } }
    @media (max-width: 1024px) {
      .footer-inner-container--ad {
        height: 220px;
        margin-left: 1rem; } }
    @media (max-width: 600px) {
      .footer-inner-container--ad {
        margin-left: 3rem; } }
  .footer-inner-container-middle {
    text-align: center;
    width: 20%;
    border-right: 1px solid #d7d7d9;
    border-left: 1px solid #d7d7d9; }
    @media (max-width: 1200px) {
      .footer-inner-container-middle {
        width: 30%; } }
    @media (max-width: 600px) {
      .footer-inner-container-middle {
        font-size: 13px;
        border-top: 1px solid #d7d7d9;
        border-bottom: 1px solid #d7d7d9;
        border-right: none;
        border-left: none;
        margin: 1rem 0;
        padding: 1.5rem 0;
        width: 85%; } }
    .footer-inner-container-middle--links {
      font-weight: 500;
      margin-top: 1rem;
      list-style: none;
      display: inline-block; }
      .footer-inner-container-middle--links li {
        padding: 1rem 0; }
        @media (max-width: 600px) {
          .footer-inner-container-middle--links li {
            padding: .5rem; } }
  .footer-inner-container-right {
    width: 20%;
    text-align: center; }
    @media (max-width: 1200px) {
      .footer-inner-container-right {
        width: 25%;
        margin-left: 1.3rem; } }
    @media (max-width: 1024px) {
      .footer-inner-container-right {
        margin-right: .7rem;
        width: 25%; } }
    @media (max-width: 600px) {
      .footer-inner-container-right {
        width: 17rem; } }
    .footer-inner-container-right--links {
      list-style: none; }
      .footer-inner-container-right--links li {
        font-size: 14px;
        padding: 1.5rem 0 0 0; }
    .footer-inner-container-right--media {
      width: 220px;
      margin-bottom: 3rem; }
      @media (max-width: 1200px) {
        .footer-inner-container-right--media {
          width: 220px;
          margin-bottom: 2rem; } }
      @media (max-width: 1024px) {
        .footer-inner-container-right--media {
          width: 180px; } }
      @media (max-width: 600px) {
        .footer-inner-container-right--media {
          width: 220px; } }
    .footer-inner-container-right button {
      display: block;
      margin: 1rem auto;
      text-transform: uppercase;
      padding: .8rem 2.9rem;
      font-size: 14px;
      line-height: 20px;
      font-weight: 900;
      letter-spacing: .02rem;
      background-color: #fff;
      color: #000;
      border: 5px solid #00aeef; }
      @media (max-width: 1200px) {
        .footer-inner-container-right button {
          font-size: 10px;
          margin-left: 1rem;
          padding: .7rem 2.7rem; } }
      @media (max-width: 600px) {
        .footer-inner-container-right button {
          margin: 1rem auto; } }
  .footer span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px; }
