/* universal selector to reset browsers default settings */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire documen */
  box-sizing: inherit; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box; }

/*
0 - 600px: Phone
600 - 1024px: Tablet portrait
1024 - 1200px: tablet landscape
*/
.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif; }
  .navbar__left {
    display: flex;
    list-style: none;
    align-items: center; }
    .navbar__left .navbar__hamburger-menu {
      width: 25px; }
    .navbar__left-list {
      margin-bottom: 7px;
      padding: 10px;
      margin-right: 15px; }
    .navbar__left-text {
      color: rgba(0, 0, 0, 0.95);
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400; }
    .navbar__left .navbar__site-logo-img {
      margin-top: 5px;
      height: 35px; }
  .navbar__right {
    display: flex;
    list-style: none;
    align-items: center; }
    .navbar__right-text {
      text-decoration: none;
      font-family: sans-serif;
      font-size: 13px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.95);
      border-left: 1px solid #d7d7d9;
      padding-left: .7rem;
      padding-right: 1rem; }
    .navbar__right-vertical-line {
      border-left: 1px solid #d7d7d9;
      height: 59px;
      padding-left: 1rem; }
    .navbar__right-text-active {
      text-decoration: none;
      color: #ee0077;
      font-family: Helvetica, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      line-height: 12px; }
  .navbar .navbar__search-icon {
    height: 17px;
    margin-right: 1.6rem;
    margin-top: 8px; }

.main-container {
  width: 60%;
  max-width: 850px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .main-container {
      width: 80%; } }
  @media (max-width: 1024px) {
    .main-container {
      width: 90%; } }
  @media (max-width: 600px) {
    .main-container {
      width: 95%; } }

.headline {
  margin-top: 4rem; }
  .headline__top-link {
    display: flex;
    font-family: Lora, serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    justify-content: center;
    text-transform: uppercase;
    color: #239ad2; }
    .headline__top-link li:first-child {
      margin: 0 24px;
      list-style: none; }
    .headline__top-link__text {
      color: black; }
      .headline__top-link__text:hover {
        text-decoration: none;
        color: purple;
        cursor: default; }
  .headline__heading {
    font-family: Basel, serif;
    font-weight: 400;
    line-height: 52px;
    font-size: 48px;
    margin: .67rem 0;
    text-align: center;
    width: 100%; }
    @media (max-width: 600px) {
      .headline__heading {
        font-size: 36px;
        line-height: 40px; } }
  .headline__social-media {
    display: flex;
    justify-content: center;
    margin: 1rem 0; }
    .headline__social-media__img {
      width: 165px;
      height: 100%; }
  .headline__photo {
    width: 100%; }
    .headline__photo__img {
      width: 100%; }

.main-content {
  margin: 0 auto;
  max-width: 650px; }
  .main-content__headline {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.95); }
    @media (max-width: 600px) {
      .main-content__headline {
        text-align: center;
        font-size: 18px;
        line-height: 28px; } }
  .main-content__paragraph {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.95); }
    @media (max-width: 1200px) {
      .main-content__paragraph {
        font-size: 18px;
        line-height: 28px; } }
    @media (max-width: 1024px) {
      .main-content__paragraph {
        font-size: 18px;
        line-height: 28px; } }
    @media (max-width: 600px) {
      .main-content__paragraph {
        font-size: 16px;
        line-height: 28px; } }

.figure {
  max-width: 650px;
  margin: 0 auto; }
  .figure__img {
    width: 100%; }
  .figure__img__desc {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 15px;
    padding: 0;
    color: #A3A5A9; }
    .figure__img__desc__author {
      margin-left: 1.5rem; }

.footer- {
  font-family: "Limerick", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #FAF7FA;
  margin-bottom: 10rem;
  height: 28rem;
  border-top: 1px solid #d7d7d9;
  border-bottom: 1px solid #d7d7d9; }
  @media (max-width: 600px) {
    .footer- {
      height: 55rem; } }
  .footer- h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500; }
    @media (max-width: 600px) {
      .footer- h2 {
        font-size: 20px;
        line-height: 28px; } }
  .footer--logo {
    padding: 2rem 0; }
  .footer--logo-img {
    display: block;
    margin: 0 auto;
    height: 60px; }
  .footer--inner-container {
    display: flex;
    justify-content: center; }
    @media (max-width: 600px) {
      .footer--inner-container {
        flex-direction: column;
        align-items: center; } }
  .footer--inner-container-left {
    text-align: center;
    padding-right: 2rem; }
    @media (max-width: 600px) {
      .footer--inner-container-left {
        align-items: center;
        width: 100%; } }
    @media (max-width: 1024px) {
      .footer--inner-container-left h2 {
        margin-left: 1rem; } }
    @media (max-width: 600px) {
      .footer--inner-container-left h2 {
        margin-left: 3rem; } }
  .footer--inner-container--ad {
    height: 270px;
    margin-top: 1rem; }
    @media (max-width: 1200px) {
      .footer--inner-container--ad {
        height: 245px; } }
    @media (max-width: 1024px) {
      .footer--inner-container--ad {
        height: 220px;
        margin-left: 1rem; } }
    @media (max-width: 600px) {
      .footer--inner-container--ad {
        margin-left: 3rem; } }
  .footer--inner-container-middle {
    text-align: center;
    width: 20%;
    border-right: 1px solid #d7d7d9;
    border-left: 1px solid #d7d7d9; }
    @media (max-width: 1200px) {
      .footer--inner-container-middle {
        width: 30%; } }
    @media (max-width: 600px) {
      .footer--inner-container-middle {
        font-size: 13px;
        border-top: 1px solid #d7d7d9;
        border-bottom: 1px solid #d7d7d9;
        border-right: none;
        border-left: none;
        margin: 1rem 0;
        padding: 1.5rem 0;
        width: 85%; } }
    .footer--inner-container-middle--links {
      font-weight: 500;
      margin-top: 1rem;
      list-style: none;
      display: inline-block; }
      .footer--inner-container-middle--links li {
        padding: 1rem 0; }
        @media (max-width: 600px) {
          .footer--inner-container-middle--links li {
            padding: .5rem; } }
  .footer--inner-container-right {
    width: 20%;
    text-align: center; }
    @media (max-width: 1200px) {
      .footer--inner-container-right {
        width: 25%;
        margin-left: 1.3rem; } }
    @media (max-width: 1024px) {
      .footer--inner-container-right {
        margin-right: .7rem;
        width: 25%; } }
    @media (max-width: 600px) {
      .footer--inner-container-right {
        width: 17rem; } }
    .footer--inner-container-right--links {
      list-style: none; }
      .footer--inner-container-right--links li {
        font-size: 14px;
        padding: 1.5rem 0 0 0; }
    .footer--inner-container-right--media {
      width: 220px;
      margin-bottom: 3rem; }
      @media (max-width: 1200px) {
        .footer--inner-container-right--media {
          width: 220px;
          margin-bottom: 2rem; } }
      @media (max-width: 1024px) {
        .footer--inner-container-right--media {
          width: 180px; } }
      @media (max-width: 600px) {
        .footer--inner-container-right--media {
          width: 220px; } }
    .footer--inner-container-right button {
      display: block;
      margin: 1rem auto;
      text-transform: uppercase;
      padding: .8rem 2.9rem;
      font-size: 14px;
      line-height: 20px;
      font-weight: 900;
      letter-spacing: .02rem;
      background-color: #fff;
      color: #000;
      border: 5px solid #00aeef; }
      @media (max-width: 1200px) {
        .footer--inner-container-right button {
          font-size: 10px;
          margin-left: 1rem;
          padding: .7rem 2.7rem; } }
      @media (max-width: 600px) {
        .footer--inner-container-right button {
          margin: 1rem auto; } }
  .footer- span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px; }
