.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: #FAF7FA;
    padding-bottom: 50px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    overflow: hidden;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    
    // LEFT CONTAINER
    &__heading{
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__heading-logo{
        display: inline-flex;
        flex: 0 0 100%;
        padding: 1.5rem 0;


        &__img{
            width: 140px;
            height: 62px;
            margin: 0 auto;
        }
    }
    &__left-container{
        flex: 0 0 300px;
        padding-right: 35px;
        // MEDIA QUERIES
        @include respond(phone){
            flex: 0 0 100%;
        }
        @include respond(small-phone){
            margin-left: 2rem;
        }
        &__img{
            width: 250px;
        }
  
    }
    // MIDDLE CONTAINER
    &__middle-container{
        height: 290px;
        flex: 0 0 300px;
        border-right:1px solid rgba(0,0,0,.15);
        border-left: 1px solid rgba(0,0,0,.15);
        // MEDIA QUERIES
        @include respond(phone){
            flex: 0 0 250px;
            margin-top: 2rem;
            border-left: none;
        }
        @include respond(small-phone){
            border-right: none;
            height: 210px;
        }
        &__list{
            list-style: none;
        }
        &__item{
            margin-top: 1rem;
        }
        &__link{
            color: rgba(0, 0, 0, 0.95);
            text-decoration: none;
        }
    }

    // RIGHT CONTAINER
    &__right-container{
        flex: 0 0 300px;
        // MEDIA QUERIES
        @include respond(phone){
            flex: 0 0 250px;
            margin-top: 2rem;
        }

        &__text{
            font-size: 14px;
            line-height: 20px;
        }

        &__social-media{
            width: 210px;
            margin-top: 1rem;
            margin-bottom: 2.7rem;

        }

        .footer__btn{
            border: 2px solid red;
            margin: 1rem auto;
            text-transform: uppercase;
            padding: .8rem 2.9rem;
            font-size: 14px;
            line-height: 20px;
            font-weight: 900;
            letter-spacing: .02rem;
            background-color: #fff;
            color: #000;
            border: 5px solid #00aeef;
        }
    }
}